body{
    background-color: #1c1c1c;
    color: #fff;
}
table, th, td{
    border: 1px solid #fff;   
}
td{
    padding: 0.1rem 0.5rem;
}
.project{
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.color{
    color: aliceblue;
    display: flex;
    flex-direction: row;
}